@tailwind base;
@tailwind components;
@tailwind utilities;



html,body,*{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
body{
    text-align: center;
    align-items: center;
    transition: all 3s;
    
    justify-content: center;
}

h1{
    font-size: 60px;
}

.image-cont{
    align-items: center;
    text-align: center;
    align-items: center;
    transition: all 3s;
    display: flex;
    justify-content: center;
    height: 75%;
    width: auto;
}

image{
    height: 75px;
    width: auto;
}

.grade{
    font-size: 100px;
    color: rgb(3, 169, 36);
}